<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head, according to https://github.com/joshbuchea/HEAD; any other head content must come *after* these tags -->
    <title><%= data.title %></title>
    <style>
      /* box-sizing reset */
      *, *:before, *:after {
        box-sizing: inherit;
      }
      html {
        height: 100%;
        box-sizing: border-box;
      }

      /* anti-aliasing */
      body {
        height: 100%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      body.disableScroll {
        overflow: hidden;
        -webkit-overflow-scrolling: auto;
      }

      #root {
        height: 100%;
      }
    </style>
    <% if (data.externalStyleSheet) { %>
     <link rel="stylesheet" type="text/css" href="styles.css">
    <% } %>

    <% if (data.css) { %>
      <style><%= data.css %></style>
    <% } %>

  </head>
  <body>
    <div id="root">
      <% if (data.html) { %>
        <%= data.html %>
      <% } %>
    </div>

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js" defer async></script>
    <script>
      window._styleIds = <%= data.styleIds || '[]' %>
    </script>
    <% data.js && data.js.forEach(function(file){ %>
        <script src="<%= file %>?t=<%= new Date().getTime() %>" charset="utf-8"></script>
    <% }); %>
  </body>
</html>
